/2009106068_Rahmayanti/nbproject/private/
/2009106068_Rahmayanti/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/JavaFXApplication1/dist/
/JavaFXSwingApplication1/nbproject/private/
/JavaFXSwingApplication1/build/
/JavaFXSwingApplication1/dist/